# -- CLEAN



# use yarn by default, so ignore npm
package-lock.json

# never checkin npm config
.npmrc

# debug logs
npm-error.log
yarn-error.log
lerna-debug.log

# compile source
lib

# test artifacts
*xunit.xml
*checkstyle.xml
*unitcoverage
.nyc_output
coverage
test_session**

# generated docs
docs

# history for repl script
.repl_history

# -- CLEAN ALL
*.tsbuildinfo
node_modules


.eslintcache
.wireit

# --
# put files here you don't want cleaned with sf-clean

# os specific files
.DS_Store
.idea

.sfdx
